<mat-nav-list>
  <a mat-list-item routerLink="/goals" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Cele</span>
  </a>
  <a mat-list-item routerLink="/friends" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Znajomi</span>
  </a>
  <a mat-list-item routerLink="/" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Historia</span>
  </a>
  <a mat-list-item routerLink="/" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Konto</span>
  </a>
  <a mat-list-item routerLink="/" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Wyloguj</span>
  </a>
</mat-nav-list>
