<mat-card (click)="onShowGoalDetailsDialog()">
  <mat-card-title fxLayout="row" fxLayoutAlign="center">
    <span>{{ goal.name }}</span>
  </mat-card-title>
  <mat-card-content>
    <div class="icon-wrapper">
      <i class="fa-7x" [class]="goal.icon"></i>
    </div>
    <div class="points-wrapper" fxLayout="row" fxLayoutAlign="space-between">
      <div class="points-with-icon">
        <img [src]="goal.type.iconPath" [alt]="goal.type" height="30" width="30">
        <span class="points">{{ goal.points | points }}</span>
      </div>
      <div class="frequency-wrapper">
        <div class="current">
          {{ goal.doneTimes }} / {{ goal.totalTimes }}
        </div>
        <div>
          {{ goal.frequency }}
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
