<mat-card>
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
    <span>{{ goal.name }}</span>
    <span>
      <span>{{ goal.points | points }}</span>
      <img [src]="goal.type.iconPath" [alt]="goal.type" height="30" width="30">
    </span>
  </mat-card-title>
  <mat-card-content>
    <div>
      {{ goal.done }} / {{ goal.total }}
    </div>
    <div>
      {{ goal.frequency }}
    </div>
    <i class="background-icon" [class]="goal.imagePath"></i>
  </mat-card-content>
</mat-card>
