<mat-card>
  <mat-card-title fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <span>{{ sharedGoal.goal.name }}</span>
    <span>
      <i class="fa-2x" [class]="sharedGoal.goal.icon"></i>
    </span>
  </mat-card-title>
  <mat-card-content fxLayout="row" fxLayoutAlign="center center">
    <div *ngFor="let player of sharedGoal.players" class="player-section" fxLayout="column" fxLayoutAlign="center center">
      <div class="avatar-wrapper">
        <img [src]="player.avatar" alt="avatar" height="50">
      </div>
      <div class="player-name-wrapper">
        {{ player.name }}
      </div>
      <div class="goal-type-wrapper">
        <img [src]="sharedGoal.goal.type.iconPath" [alt]="sharedGoal.goal.type" height="30" width="30">
      </div>
      <mat-progress-bar mode="determinate" [value]="player.donePoints * 100 / sharedGoal.goal.totalTimes"></mat-progress-bar>
      <div class="points-wrapper">
        {{ player.donePoints }} / {{ sharedGoal.goal.totalTimes }}
      </div>
      <div class="frequency-wrapper">
        {{ sharedGoal.goal.frequency }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
