<section id="friends-list-section">
  <div>
    <app-friends-item *ngFor="let friend of acceptedFriends" [friend]="friend"></app-friends-item>
  </div>
  <mat-divider *ngIf="pendingFriends.length > 0 && acceptedFriends.length > 0"></mat-divider>
  <div>
    <app-friends-item *ngFor="let friend of pendingFriends" [friend]="friend"></app-friends-item>
  </div>
  <div fxLayout fxLayoutAlign="center center">
    <mat-icon id="new-friend" (click)="openNewFriendDialog()" aria-hidden="false" aria-label="Add new friend" color="accent">add_circle</mat-icon>
  </div>
</section>
