mat-sidenav-container, mat-sidenav-content, mat-sidenav, main {
  min-height: 100%;
}

mat-sidenav-content {
  min-height: 100vh;
  padding-bottom: 50px;
}

mat-sidenav {
  width: 250px;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  text-align: center;
}
