<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav (closeSidenav)="sidenav.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer class="footer">
      Animal icons made by
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
