<h1 mat-dialog-title>Zaproś znajomego do celu</h1>
<mat-dialog-content>
  <p>Wybierz nazwę znajomego</p>
  <mat-form-field>
    <mat-label>Nazwa użytkownika</mat-label>
    <mat-select [(ngModel)]="username" required #friend="ngModel">
      <mat-option *ngFor="let friend of friends" [value]="friend.name">
        {{ friend.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p class="choose-goal-header">Wybierz cel</p>
  <mat-form-field>
    <mat-label>Nazwa celu</mat-label>
    <mat-select [(ngModel)]="goalId" required #goal="ngModel">
      <mat-option *ngFor="let goal of goals" [value]="goal.id">
        {{ goal.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-raised-button (click)="onInvite()" color="primary" [disabled]="!friend.valid || !goal.valid">Wyślij zaproszenie</button>
</mat-dialog-actions>
