<mat-card>
  <mat-card-title fxLayout="row">
    <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
      <img [src]="avatarPath" alt="avatar" height="75">
    </div>
    <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
      <h2 class="friend-name">{{ friend.username }}</h2>
      <h3 class="friend-level">poziom {{ friend.level }}</h3>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="friend.status === 'ACCEPTED'; else pending">
    <div *ngFor="let progress of friend.progress" class="progress">
      <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
        <img [src]="progress.type.iconPath" [alt]="progress.type" height="30" width="30">
      </div>
      <div fxFlex="80" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-bar mode="determinate" [value]="progress.achieved * 100 / progress.total"></mat-progress-bar>
        {{ progress.achieved }} / {{ progress.total }}
      </div>
    </div>
    </div>

    <ng-template #pending>
      <h2>Wysłano zaproszenie</h2>
    </ng-template>
  </mat-card-content>
</mat-card>
