<mat-card>
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
    <span>{{ friend.name }}</span>
  </mat-card-title>
  <mat-card-content>
    <div>
      <div>
        <img [src]="avatarPath" alt="avatar" height="150" width="125">
      </div>
      <div>
        {{ friend.level }}
      </div>
      <div>
        <span>poziom</span>
      </div>
    </div>
    <div>
      <div *ngFor="let progress of friend.progresses">
        <img [src]="progress.type.iconPath" [alt]="progress.type" height="30" width="30">
        {{ progress.done }} / {{ progress.total }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
